body {
    font-family: "Roboto Mono", serif;
    background-color: #4f5f76;
    color: #e0e2e7;
  }

a {
    text-decoration: none;
    color: #e0e2e7;
}

a:hover {
    color: #3f4c5e;
}


/* container styling */

#name-container, #social-container, #version-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width:100%;
}

#name-container {
    height: 100vh;
}

#social-container {
    height: 20vh;
    background-color: #2f3946;
}

#version-container {
    height: 10vh;
    background-color: #2f3946;
}



/* div Styling */

#soon {
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
}

#name {
    font-size: 10vw;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3.75pt;
    padding-top: 50px;
}

#skills {
    font-size: 2vw;
    text-align: center;
}

#socials {
    font-size: 36px;
    text-align: center;
}

#version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #e0e2e7;
    margin: 0px 25px 0px 25px;
}
